body {
    font-family: Arial, sans-serif;
    margin: 0px;
}

.container {
    max-width: 400px;
    margin: 0 auto;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

.example-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 10px;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 4px #999; /* Add a shadow on mouse-over */
    transition: .3s;
}

.example-button:hover {
    background-color: #3e8e41;
}

.custom-button {
    background-color: #6771fd; /* Green */
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 10px;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 4px #999; /* Add a shadow on mouse-over */
    transition: .3s;
}

.custom-button:hover {
    background-color: #5360ee;
}
