{% extends "common_layout.html" %}
{% block title %}
<title>{{title}}</title>
{% endblock %}

{% block content %}

<!-- Example -->
<!DOCTYPE html>
<html>
<head>
    <title>Flask Button Styling</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <form action="/run" method="POST">
        <button class="styled-button" type="submit">Example</button>
    </form>
</body>
</html>

<!-- Custom -->
<!DOCTYPE html>
<html>
<head>
    <title>Flask Button Styling</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <form action="/run" method="POST">
        <button class="styled-button" type="submit">Custom</button>
    </form>
</body>
</html>


{%if table %}
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	</head>
<body>
    <h2>Deconvolution Results</h2>    
    {{table | safe}}
</body>
{%endif%}
</body>

</html>

{% endblock %}
