{% extends "common_layout.html" %}
{% block title %}
<title>{{title}}</title>
{% endblock %}

{% block content %}

<table>
    <tr>
    <td>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <form action="/run" method="POST">
            <button class="example-button" type="submit">Example</button>
        </form>
    </td>
    <td>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <form action="/upload" method="POST">
            <button class="custom-button" type="submit">Custom</button>
        </form>
    </td>
    </tr>
</table>


{%if table %}
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	</head>
<body>
    <h2>Deconvolution Results</h2>    
    {{table | safe}}
</body>
{%endif%}
</body>

</html>

{% endblock %}
